
/* FONTS*/
@font-face {
    font-family: Raleway;
    src: url(Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Raleway-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url(Raleway-Bold.ttf);
    font-weight: bold;
}

/* GLOBAL */
body {
    font-family: Raleway, cursive;
    font-size: 1rem;
    -webkit-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
}


h2 {
    font-family: Raleway, cursive;
    font-weight: bold;
}

/* INPUTS  */
#submitButton {
    font-size: x-large;
}

.styled-input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid darkgray;
}

.form-control {
    background: transparent;
}

.required::after {
    content: " * ";
    color: red;
}

input::placeholder {
    font-family: Raleway, cursive;
    font-style: italic;
}

/* CONTAINER */
.container-lg {
    background-color: #f4fdf0;
}

/* LOGO */
.logo-lg {
    min-width: 200px;
    max-width: 306px;
}

/* FORM */
.box {
    border-radius: 0.3rem;
    padding: 2rem;
}

.box-form {
    padding: 3rem 5rem;
    background-color: #fff;
    border: 1px solid #dadada;
}

/* SUCCESS ANIMATION */
.success-check {
    width: 10%;
    animation-duration: 2s;
    animation-name: success;
    filter: invert(45%) sepia(85%) saturate(792%) hue-rotate(87deg) brightness(96%) contrast(102%);
}

@keyframes success {
    from {
        width: 1%;
        transform: rotate(25deg);
    }
    25%,75% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(25deg);
    }
    to {
        width: 10%;
        transform: rotate(0deg);
    }
}
