<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application</title>
</head>
<body>
<h2>
    <form th:action="@{/request}" th:object="${request}" method="post">
        <div>
            <label>CPF:</label>
            <input type="text" th:field="*{cpf}" />
            <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label>Telephone:</label>
            <input type="text" th:field="*{telephoneNumber}"/>
        </div>
        <div>
            <label>Value:</label>
            <input type="number" th:field="*{value}" placeholder="0.00" step="0.01" />
            <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
        </div>
        <div>
            <label>Installments:</label>
            <input type="number" th:field="*{numberOfInstallments}"/>
            <span th:if="${#fields.hasErrors('numberOfInstallments')}" th:errors="*{numberOfInstallments}"></span>
        </div>

        <input type="submit" value="Submit"/>
    </form>
</h2>
</body>
</html>