<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <script src="https://kit.fontawesome.com/6806dc6d59.js" crossorigin="anonymous"></script>
    <link href="/style.css" rel="stylesheet">

    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Capim Credit</title>
</head>
<body>
    <div class="container-fluid">
        <th:block th:each="request : ${requests}">
            <div class="container p-2 mt-3 bg-info rounded">
                <h2 th:text="${request.getId()+' : '+request.getFullName()}" class="text-white"></h2>
                <div class="container-fluid bg-light rounded">
                    <div class="row p-1 mx-1 mb-2 border-bottom border-secondary">
                        Request
                    </div>
                    <div class="row p-1 mx-1 ">
                        <p class="col px-2">
                            <i class="far fa-clock"></i>
                            <text th:text="${request.getCreatedAt()}">...</text>
                        </p>
                    </div>
                    <div class="row p-1 mx-1 ">
                        <p class="col px-2">
                            <i class="far fa-id-card"></i>
                            <text th:text="${request.getFullName()+' ('+request.getCpf()+')'}">...</text>
                        </p>
                        <p class="col px-2">
                            <i class="far fa-envelope"></i>
                            <text th:text="${request.getEmail()}"></text>
                        </p>
                        <p class="col px-2">
                            <i class="fas fa-phone-alt"></i>
                            <text th:text="${request.getTelephoneNumber()}"></text>
                        </p>
                    </div>
                    <div class="row p-1 mx-1 ">
                        <p class="col px-2">
                            <i class="fas fa-hand-holding-usd"></i>
                            <text th:text="${#numbers.formatDecimal(request.getValue(), 2, 'POINT', 2, 'COMMA')} + ' R$'"></text>
                        </p>
                        <p class="col px-2">
                            <i class="far fa-calendar-alt"></i>
                            <text th:text="${request.getNumberOfInstallments()}"></text>
                        </p>
                        <p class="col px-2">
                            <i class="fas fa-cube"></i>
                            <text th:text="${request.getFinancedItem()}">...</text>
                        </p>
                    </div>
                    <div class="row p-1 mx-1 border-bottom border-secondary">
                        Offers
                    </div>
                    <th:block th:each="offer : ${request.offers}">
                        <div class="row p-1 m-1">
                            <p class="col px-2">
                                <i class="fas fa-hand-holding-usd"></i>
                                <text th:text="${#numbers.formatDecimal(offer.getTotalValue(), 2, 'POINT', 2, 'COMMA')} + ' R$'"></text>
                            </p>
                            <p class="col px-2">
                                <i class="far fa-calendar-alt"></i>
                                <text th:text="${offer.getNumberOfInstallments()}"></text>
                            </p>
                            <p class="col px-2">
                                <i class="far fa-calendar-times"></i>
                                <text th:text="${#numbers.formatDecimal(offer.getInstallmentValue(), 2, 'POINT', 2, 'COMMA')} + ' R$'"></text>
                            </p>
                            <p class="col px-2 text-center">
                                <span class="badge "
                                      th:classappend="${(offer.status.name() == 'PENDING' ? 'badge-warning': '') +
                                                    (offer.status.name() == 'ACCEPTED' ? 'badge-success': '')+
                                                    (offer.status.name() == 'REFUSED' ? 'badge-danger': '')}"
                                      th:text="${offer.getStatus()}">
                            </p>
                        </div>
                    </th:block>
                    <form class="row p-1 mx-1 mb-0 mt-1 form-inline form-group text-center rounded border border-secondary"
                          th:action="@{'/offer/{id}'(id=${request.getId()})}" th:object="${offer}" method="post">
                        <p class="col px-2 mb-0">
                            <i class="fas fa-hand-holding-usd"></i>
                            <input th:id="${'offer-value-'+request.getId()}" class="form-control"
                                   th:field="*{totalValue}" type="number" step="0.01">
                        </p>
                        <p class="col px-2 mb-0">
                            <i class="far fa-calendar-alt"></i>
                            <select class="form-control"
                                    th:id="${'offer-calendar-'+request.getId()}"
                                    th:field="*{numberOfInstallments}">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </p>
                        <p class="col px-2 mb-0">
                            <input type="submit" th:id="${'offer-submit-'+request.getId()}"
                                   class="mx-auto btn btn-outline-success" value="Add Offer">
                        </p>
                    </form>
                </div>
            </div>
        </th:block>
    </div>

</body>
</html>